{
  "openapi": "3.1.1",
  "info": {
    "title": "Medblocks API",
    "version": "2026-04-25",
    "description": "Developer API for the Medblocks Platform.\n\nConnect any patient to one or more EHRs (Epic, Cerner, Athena, …) via a single hosted PatientSession, then pull their unified FHIR records through this API. Server-to-server only — no browser-side calls. Authenticate every request with a Bearer secret key.\n\n**Resources:** `PatientSession`, `Patient`, `Connection`, `FhirSource`. **Conventions:** date-pinned versioning (optional `Version` header), a typed error envelope on every non-2xx response.",
    "license": {
      "name": "Proprietary",
      "url": "https://medblocks.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://app.medblocks.com"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "api.health",
        "summary": "Liveness check",
        "description": "Unauthenticated probe that returns `ok` and the current `server_time` to confirm the API is reachable.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "const": true,
                      "description": "Always true. Presence of this field plus 200 status confirms the server is reachable."
                    },
                    "server_time": {
                      "type": "string",
                      "description": "Current server time in ISO 8601. Use to spot clock skew."
                    }
                  },
                  "required": [
                    "ok",
                    "server_time"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/patients": {
      "post": {
        "operationId": "api.createPatient",
        "summary": "Create a patient",
        "description": "Create a patient with your own `patient_id` plus optional email, name, and metadata. The id is unique within your organization.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatientCreateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Patient"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Version"
          }
        ]
      },
      "get": {
        "operationId": "api.listPatients",
        "summary": "List patients",
        "description": "List your organization's patients with cursor pagination and optional exact-match filters on `patient_id` or `email`.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10,
              "description": "Maximum number of items to return."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from `next_cursor`."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "patient_id",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Exact-match filter on `patient_id`."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Exact-match filter on `email`."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resource_type": {
                      "const": "list",
                      "description": "Resource type discriminator. Always `\"list\"` for paginated responses."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Patient"
                      },
                      "description": "Items on this page."
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "`true` when there's at least one more page after this one."
                    },
                    "next_cursor": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Pass as `starting_after` to fetch the next page. `null` when there's no more data."
                    }
                  },
                  "required": [
                    "resource_type",
                    "data",
                    "has_more",
                    "next_cursor"
                  ],
                  "examples": [
                    {
                      "resource_type": "list",
                      "data": [
                        {
                          "id": "user_42",
                          "resource_type": "patient",
                          "email": "jane@example.com",
                          "name": "Jane Doe",
                          "metadata": {
                            "plan": "premium"
                          },
                          "created_at": "2026-04-25T14:30:00.000Z"
                        }
                      ],
                      "has_more": false,
                      "next_cursor": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/patients/{id}": {
      "get": {
        "operationId": "api.getPatient",
        "summary": "Retrieve a patient",
        "description": "Retrieve a patient by their `patient_id` - the developer-provided identifier set on creation.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Your `patient_id` from Patient creation or Session upsert."
            }
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientDetail"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "api.updatePatient",
        "summary": "Update a patient",
        "description": "Update a patient by id. Omitted optional fields are cleared. `patient_id` in the body must match the URL.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Your `patient_id` from Patient creation or Session upsert."
            }
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "patient_id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "description": "Must match the `{id}` URL param. 400 if mismatched. Immutable."
                  },
                  "email": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "email"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "New email. Omit or pass `null` to clear."
                  },
                  "name": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 200
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "New name. Omit or pass `null` to clear (UI falls back to the patient_id)."
                  },
                  "metadata": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {},
                    "description": "New metadata. Omit to clear (replaced with `{}`)."
                  }
                },
                "required": [
                  "patient_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Patient"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "api.deletePatient",
        "summary": "Delete a patient",
        "description": "Permanently delete a patient and their connections by `patient_id`. Returns a tombstone confirming the deletion.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Your `patient_id` from Patient creation or Session upsert."
            }
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientDeleted"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/patients/{id}/connections/{connection_id}": {
      "delete": {
        "operationId": "api.disconnectPatientConnection",
        "summary": "Disconnect a connection",
        "description": "Revoke your organization's access to one of the patient's connections by its `conn_` id. The patient's link to the source EHR is removed for your organization; stored tokens are revoked when no other workspace still uses them. Returns a tombstone confirming the disconnect.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Your `patient_id` from Patient creation or Session upsert."
            }
          },
          {
            "name": "connection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The `conn_` connection id from the patient's `connections[]`."
            }
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionDisconnected"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/patients/{id}/patient-sessions": {
      "get": {
        "operationId": "api.listPatientSessionsForPatient",
        "summary": "List patient sessions for a patient",
        "description": "List a patient's sessions with cursor pagination and an optional `status` filter, identified by their `patient_id`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Your `patient_id` from Patient creation or Session upsert."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10,
              "description": "Maximum number of items to return."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from `next_cursor`."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "enum": [
                "open",
                "complete",
                "expired"
              ],
              "type": "string",
              "description": "Filter by patient_session status."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resource_type": {
                      "const": "list",
                      "description": "Resource type discriminator. Always `\"list\"` for paginated responses."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PatientSession"
                      },
                      "description": "Items on this page."
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "`true` when there's at least one more page after this one."
                    },
                    "next_cursor": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Pass as `starting_after` to fetch the next page. `null` when there's no more data."
                    }
                  },
                  "required": [
                    "resource_type",
                    "data",
                    "has_more",
                    "next_cursor"
                  ],
                  "examples": [
                    {
                      "resource_type": "list",
                      "data": [
                        {
                          "id": "ps_01J9YQ8M2X4VZ6P2K5RH7M3KQT",
                          "resource_type": "patient_session",
                          "status": "open",
                          "url": "https://app.medblocks.com/c/9c9b6f7a8e4f4a3b9c1e6f3a2d8b7c4d",
                          "patient_id": "user_42",
                          "connection_id": null,
                          "recommended_connection_ids": [
                            "fhirsrc_02Zh2bnvRoWQJYgOAkI0Twcc",
                            "fhirsrc_0a9Ea55aR4u7HaWMyFBN8wcc",
                            "fhirsrc_lcvXRHLSSI2WK9Prrt5Qggcc"
                          ],
                          "return_url": "https://app.example.com/connected",
                          "return_button_label": "Acme Health",
                          "connections": [],
                          "expires_at": "2026-04-25T15:00:00.000Z",
                          "metadata": {
                            "signup_source": "checkout"
                          },
                          "created_at": "2026-04-25T14:30:00.000Z"
                        }
                      ],
                      "has_more": false,
                      "next_cursor": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/patients/{id}/records": {
      "get": {
        "operationId": "api.getPatientRecords",
        "summary": "Get patient records",
        "description": "Return the patient's latest stored FHIR resources with their source EHR, paginated.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Your `patient_id` from Patient creation or Session upsert."
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Comma-separated FHIR resource types to include, e.g. `Observation,Condition`."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "since",
            "in": "query",
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ],
              "description": "ISO 8601 date or timestamp. Returns current resources changed after this time."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100,
              "description": "Maximum items per page."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Opaque 12-character cursor from a previous response's `next_cursor`."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "ending_before",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Opaque 12-character cursor from a previous response's `previous_cursor`."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientRecords"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/connections/{id}": {
      "get": {
        "operationId": "api.getFhirSource",
        "summary": "Retrieve a FHIR source",
        "description": "Retrieve a single EHR from the catalog by its `fhirsrc_` id or raw `fhir_base_url`, scoped to your environment.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "FHIR source id (`fhirsrc_*` or raw `fhir_base_url`)."
            }
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FhirSource"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/connections": {
      "get": {
        "operationId": "api.listFhirSources",
        "summary": "List FHIR sources",
        "description": "Search the catalog of registered EHRs with cursor pagination and optional `q` text and vendor `type` filters.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10,
              "description": "Maximum number of items to return."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from `next_cursor`."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Search text for the connection catalog."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Filter by vendor type (`epic`, `cerner`, etc.)."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resource_type": {
                      "const": "list",
                      "description": "Resource type discriminator. Always `\"list\"` for paginated responses."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FhirSource"
                      },
                      "description": "Items on this page."
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "`true` when there's at least one more page after this one."
                    },
                    "next_cursor": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Pass as `starting_after` to fetch the next page. `null` when there's no more data."
                    }
                  },
                  "required": [
                    "resource_type",
                    "data",
                    "has_more",
                    "next_cursor"
                  ],
                  "examples": [
                    {
                      "resource_type": "list",
                      "data": [
                        {
                          "id": "fhirsrc_01J9YR9N3X4VZ6P2K5RH7M3LMP",
                          "resource_type": "fhir_source",
                          "name": "Epic MyChart",
                          "type": "epic",
                          "fhir_base_url": "https://fhir.epic.com/interconnect-fhir-oauth/api/FHIR/R4",
                          "logo_url": "https://cdn.medblocks.com/ehr-logos/epic.svg",
                          "portal_url": "https://mychart.epic.com"
                        }
                      ],
                      "has_more": false,
                      "next_cursor": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/patient-sessions": {
      "post": {
        "operationId": "api.initPatientSession",
        "summary": "Start a patient session",
        "description": "Start a patient session and get back a `url` to send the patient to so they can connect their records. Track progress with the session's `status`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatientSessionInitInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientSession"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "callbacks": {
          "pickerModeReturn": {
            "https://your-app.com/connected?patient_id={patient_id}&patient_session_id={patient_session_id}": {
              "get": {
                "summary": "Medblocks-hosted page - patient clicked Done",
                "description": "When the patient chooses a connection on the Medblocks-hosted page, Medblocks redirects the patient after they click Done. Call `GET /patients/{patient_id}` from your backend to inspect the patient's current connection state, or `GET /patient-sessions/{patient_session_id}` for the specific connections made in this session.",
                "parameters": [
                  {
                    "name": "patient_id",
                    "in": "query",
                    "required": true,
                    "schema": {
                      "type": "string"
                    },
                    "description": "Your developer-supplied external patient id. Use this to look up the patient via `GET /patients/{id}`."
                  },
                  {
                    "name": "patient_session_id",
                    "in": "query",
                    "required": true,
                    "schema": {
                      "type": "string"
                    },
                    "description": "The `ps_*` public id of the completed patient_session."
                  }
                ],
                "responses": {
                  "200": {
                    "description": "Your handler accepted the redirect."
                  }
                }
              }
            }
          },
          "directModeSuccess": {
            "https://your-app.com/connected?patient_id={patient_id}&patient_session_id={patient_session_id}&success=true&connection_id={connection_id}": {
              "get": {
                "summary": "Your own UI - EHR connection succeeded",
                "description": "When `connection_id` was set on patient_session creation and the patient successfully authenticated with the EHR, Medblocks redirects straight to your `return_url` without showing any UI.",
                "parameters": [
                  {
                    "name": "patient_id",
                    "in": "query",
                    "required": true,
                    "schema": {
                      "type": "string"
                    },
                    "description": "Your developer-supplied external patient id. Use this to look up the patient via `GET /patients/{id}`."
                  },
                  {
                    "name": "patient_session_id",
                    "in": "query",
                    "required": true,
                    "schema": {
                      "type": "string"
                    },
                    "description": "The `ps_*` public id of the completed patient_session."
                  },
                  {
                    "name": "success",
                    "in": "query",
                    "required": true,
                    "schema": {
                      "type": "string",
                      "enum": [
                        "true"
                      ]
                    },
                    "description": "Always `\"true\"` on success."
                  },
                  {
                    "name": "connection_id",
                    "in": "query",
                    "required": true,
                    "schema": {
                      "type": "string"
                    },
                    "description": "The `fhirsrc_*` public id of the connected EHR."
                  }
                ],
                "responses": {
                  "200": {
                    "description": "Your handler accepted the redirect."
                  }
                }
              }
            }
          },
          "directModeError": {
            "https://your-app.com/connected?patient_id={patient_id}&patient_session_id={patient_session_id}&success=false&error={error_code}": {
              "get": {
                "summary": "Your own UI - EHR connection failed",
                "description": "When `connection_id` was set on patient_session creation and the EHR authentication failed (patient denied, OAuth error, etc.), Medblocks redirects to your `return_url` with error details.",
                "parameters": [
                  {
                    "name": "patient_id",
                    "in": "query",
                    "required": true,
                    "schema": {
                      "type": "string"
                    },
                    "description": "Your developer-supplied external patient id. Use this to look up the patient via `GET /patients/{id}`."
                  },
                  {
                    "name": "patient_session_id",
                    "in": "query",
                    "required": true,
                    "schema": {
                      "type": "string"
                    },
                    "description": "The `ps_*` public id of the patient_session."
                  },
                  {
                    "name": "success",
                    "in": "query",
                    "required": true,
                    "schema": {
                      "type": "string",
                      "enum": [
                        "false"
                      ]
                    },
                    "description": "Always `\"false\"` on failure."
                  },
                  {
                    "name": "error",
                    "in": "query",
                    "required": true,
                    "schema": {
                      "type": "string"
                    },
                    "description": "Stable error code (e.g. `user_denied`, `oauth_callback_failed`)."
                  },
                  {
                    "name": "error_description",
                    "in": "query",
                    "required": false,
                    "schema": {
                      "type": "string"
                    },
                    "description": "Human-readable error message."
                  }
                ],
                "responses": {
                  "200": {
                    "description": "Your handler accepted the redirect."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/patient-sessions/{id}": {
      "get": {
        "operationId": "api.retrievePatientSession",
        "summary": "Retrieve a patient session",
        "description": "Retrieve a patient session by its `ps_` id, including its current status and the connections created during it.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Patient session id (`ps_*`)."
            }
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientSession"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/launch-contexts/{id}": {
      "get": {
        "operationId": "api.retrieveLaunchContext",
        "summary": "Retrieve an EHR launch context",
        "description": "Resolve the `mb_launch` handle (appended to your app's launch URL after an EHR launch) into the patient / encounter / practitioner / EHR the app was launched in.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The `mb_launch` handle appended to your app's launch URL by Connect after an EHR launch."
            }
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The launch handle (echoes the `mb_launch` value)."
                    },
                    "resource_type": {
                      "const": "launch_context",
                      "description": "Resource type discriminator. Always `\"launch_context\"`."
                    },
                    "status": {
                      "enum": [
                        "ready",
                        "pending"
                      ],
                      "type": "string",
                      "description": "`ready` once the launch's token exchange has completed; `pending` before it has."
                    },
                    "patient": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "FHIR reference of the launched patient (e.g. `Patient/123`). Null if the launch had no patient context."
                    },
                    "encounter": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "FHIR reference of the launched encounter (e.g. `Encounter/456`). Null if absent."
                    },
                    "fhir_user": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "FHIR reference of the launching user / practitioner (e.g. `Practitioner/789`), from the id_token. Null if absent."
                    },
                    "scope": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Space-delimited scopes granted by the EHR for this launch. Null if absent."
                    },
                    "fhir_source": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "EHR id (`fhirsrc_*`) the launch originated from. Null if the source is no longer registered."
                    },
                    "fhir_base_url": {
                      "type": "string",
                      "description": "FHIR base URL (the launch `iss`) the launch originated from."
                    },
                    "created_at": {
                      "type": "string",
                      "description": "ISO 8601 timestamp of when the launch was initiated."
                    }
                  },
                  "required": [
                    "id",
                    "resource_type",
                    "status",
                    "patient",
                    "encounter",
                    "fhir_user",
                    "scope",
                    "fhir_source",
                    "fhir_base_url",
                    "created_at"
                  ],
                  "examples": [
                    {
                      "id": "9c9b6f7a-8e4f-4a3b-9c1e-6f3a2d8b7c4d",
                      "resource_type": "launch_context",
                      "status": "ready",
                      "patient": "Patient/erXuFYUfucBZaryVksYEcMg3",
                      "encounter": "Encounter/eMHbz3rPbqUjMqpUgVrhwgB3",
                      "fhir_user": "Practitioner/eM5CWtq15N0WJeuCet5bJlQ3",
                      "scope": "launch openid fhirUser patient/Patient.read",
                      "fhir_source": "fhirsrc_02Zh2bnvRoWQJYgOAkI0Twcc",
                      "fhir_base_url": "https://fhir.epic.com/interconnect-fhir-oauth/api/FHIR/R4",
                      "created_at": "2026-06-09T14:30:00.000Z"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "post": {
        "operationId": "api.createWebhook",
        "summary": "Register a webhook endpoint",
        "description": "Register an HTTPS endpoint to receive signed event deliveries. The signing `secret` is returned once in this response.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEndpointCreateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpointWithSecret"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Version"
          }
        ]
      },
      "get": {
        "operationId": "api.listWebhooks",
        "summary": "List webhook endpoints",
        "description": "List your organization's webhook endpoints with cursor pagination and an optional `status` filter. Secrets are never returned.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10,
              "description": "Maximum number of items to return."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from `next_cursor`."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "enum": [
                "active",
                "disabled"
              ],
              "type": "string",
              "description": "Filter by lifecycle status."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resource_type": {
                      "const": "list",
                      "description": "Resource type discriminator. Always `\"list\"` for paginated responses."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookEndpoint"
                      },
                      "description": "Items on this page."
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "`true` when there's at least one more page after this one."
                    },
                    "next_cursor": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Pass as `starting_after` to fetch the next page. `null` when there's no more data."
                    }
                  },
                  "required": [
                    "resource_type",
                    "data",
                    "has_more",
                    "next_cursor"
                  ],
                  "examples": [
                    {
                      "resource_type": "list",
                      "data": [
                        {
                          "id": "wh_01J9YR9N3X4VZ6P2K5RH7M3LMP",
                          "resource_type": "webhook_endpoint",
                          "url": "https://api.fhirapp.com/medblocks/webhook",
                          "events": [
                            "patient_session.completed",
                            "connection.token_refresh_failed"
                          ],
                          "status": "active",
                          "description": "Production webhook",
                          "metadata": {},
                          "api_version": "2026-04-25",
                          "created_at": "2026-04-25T14:30:00.000Z",
                          "updated_at": "2026-04-25T14:30:00.000Z"
                        }
                      ],
                      "has_more": false,
                      "next_cursor": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{id}": {
      "get": {
        "operationId": "api.getWebhook",
        "summary": "Retrieve a webhook endpoint",
        "description": "Retrieve a single webhook endpoint by its `wh_` id, including its URL, subscribed events, and status. The secret is never returned.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Webhook endpoint id (`wh_*`)."
            }
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpoint"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "api.updateWebhook",
        "summary": "Update a webhook endpoint",
        "description": "Partially update a webhook endpoint's URL, subscribed events, description, or metadata, or re-enable it with `status` active.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Webhook endpoint id (`wh_*`)."
            }
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "events": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 5,
                    "items": {
                      "anyOf": [
                        {
                          "const": "*"
                        },
                        {
                          "enum": [
                            "patient_session.completed",
                            "connection.token_refresh_failed",
                            "records.sync.completed",
                            "records.sync.failed"
                          ],
                          "type": "string"
                        }
                      ]
                    },
                    "description": "Event-type filter. Either `[\"*\"]` (deliver all events) or an explicit list of event types. Unknown types are rejected."
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 500
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "metadata": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {}
                  },
                  "status": {
                    "enum": [
                      "active",
                      "disabled"
                    ],
                    "type": "string",
                    "description": "Lifecycle status. `active` accepts deliveries; `disabled` skips them. Auto-flipped to `disabled` after the delivery worker exhausts retries on this endpoint."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpoint"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "api.deleteWebhook",
        "summary": "Delete a webhook endpoint",
        "description": "Permanently delete a webhook endpoint and its delivery history. Returns a tombstone confirming the deletion.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Webhook endpoint id (`wh_*`)."
            }
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpointDeleted"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{id}/rotate-secret": {
      "post": {
        "operationId": "api.rotateWebhookSecret",
        "summary": "Rotate the signing secret for a webhook endpoint",
        "description": "Generate a new signing secret for a webhook endpoint, invalidating the old one. The new secret is returned once in this response.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Webhook endpoint id (`wh_*`)."
            }
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpointWithSecret"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{id}/events": {
      "get": {
        "operationId": "api.listWebhookEvents",
        "summary": "List recent webhook events for an endpoint",
        "description": "List recent delivery records for one endpoint with cursor pagination and an optional `delivered` filter for the delivery audit.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Webhook endpoint id (`wh_*`)."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10,
              "description": "Maximum number of items to return."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from `next_cursor`."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "delivered",
            "in": "query",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string",
              "description": "Filter by delivery state. `true` = only delivered events; `false` = only pending/failed."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resource_type": {
                      "const": "list",
                      "description": "Resource type discriminator. Always `\"list\"` for paginated responses."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookEvent"
                      },
                      "description": "Items on this page."
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "`true` when there's at least one more page after this one."
                    },
                    "next_cursor": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Pass as `starting_after` to fetch the next page. `null` when there's no more data."
                    }
                  },
                  "required": [
                    "resource_type",
                    "data",
                    "has_more",
                    "next_cursor"
                  ],
                  "examples": [
                    {
                      "resource_type": "list",
                      "data": [
                        {
                          "id": "evt_01J9YR9N3X4VZ6P2K5RH7M3LMP",
                          "resource_type": "event",
                          "webhook_endpoint_id": "wh_01J9YR9N3X4VZ6P2K5RH7M3LMP",
                          "type": "patient_session.completed",
                          "data": {
                            "object": {
                              "id": "ps_01J9YQ8M2X4VZ6P2K5RH7M3KQT",
                              "resource_type": "patient_session",
                              "status": "complete",
                              "patient_id": "user_42"
                            }
                          },
                          "api_version": "2026-04-25",
                          "attempts": 1,
                          "next_attempt_at": null,
                          "delivered_at": "2026-04-25T14:35:02.000Z",
                          "last_status_code": 200,
                          "last_response_body": "ok",
                          "last_redelivered_at": null,
                          "created_at": "2026-04-25T14:35:00.000Z"
                        }
                      ],
                      "has_more": false,
                      "next_cursor": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/events/{id}/redeliver": {
      "post": {
        "operationId": "api.redeliverWebhookEvent",
        "summary": "Manually redeliver a webhook event",
        "description": "Re-enqueue a webhook event for delivery by its `evt_` id. Limited to one redelivery per event each minute.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Webhook event id (`evt_*`)."
            }
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEvent"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key (mb_sk_live_...)",
        "description": "Medblocks API key for server-side requests."
      }
    },
    "parameters": {
      "Version": {
        "name": "Version",
        "in": "header",
        "required": false,
        "description": "Date-pinned API version. If omitted, Medblocks uses the version pinned on your API key.",
        "example": "2026-04-25",
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "RetryAfter": {
        "description": "Whole seconds to wait before retrying a rate-limited request.",
        "schema": {
          "type": "integer",
          "minimum": 1
        }
      }
    },
    "schemas": {
      "PatientSession": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Public id, prefixed `ps_`."
          },
          "resource_type": {
            "const": "patient_session",
            "description": "Resource type discriminator. Always `\"patient_session\"` for this resource."
          },
          "status": {
            "enum": [
              "open",
              "complete",
[...]
